.fundoCadastro {
  background-image: url(../../assets/naruto.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 0px 15px 15px 0px;
}